* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: auto auto;
  background-color: azure;
}
h1 {
  font-family: monospace;
  font-size: 50px;
  color: rgb(73, 185, 230);
  text-align: center;
}
.container {
  height: 60vh;
  max-width: 30vw;
  background-image: url("https://ae01.alicdn.com/kf/HTB1m5bCcoz.BuNjt_j7q6x0nFXa7/Cool-T-shirt-Men-Women-3d-Tshirt-Print-Blue-Fire-skeleton-Short-Sleeve-Summer-Tops-Tees.jpg");
  background-size: 100% 100%;
  display: block;
  margin: 5% auto;
   border: 5px double lightsteelblue;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(64, 60, 60);
}
.fa-solid {
  font-size: 50px;
  margin-left: 50%;
  cursor: pointer;
  
}
.fa-solid:hover{
  color: blue;
  text-shadow: 5px 5px lightsteelblue;
}
